#aplication{
    padding-bottom: 20px;

    background: rgb(24, 23, 23);

    box-sizing: unset;
}



.shapedivider01{
    width: 100vw;
}

.aplication-title1{
	font-size: 40px;
    padding-top: 20px;
	margin-bottom: 50px;
	font-weight: 600;
	color: #ffffff;
	letter-spacing: -0.3px;
}

.aplication-title1 h4{
    text-align: center;
}

.aplication-rotate{
	transform: rotate(-30deg);
}


.aplication-cards {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 767px) {
    .aplication-cards {
        flex-direction: column;
        align-items: center;
    }
    .aplication-cards a {
        margin-top: 40px; 
    }
}

.card01 {
    background-color: #39a7f0;
    background-size: cover;
    padding: 3rem;
    max-width: 80ch;
    overflow: hidden;
    border-radius: 30px;

    transition: 0.3s ease-in-out;
}

.card01:hover{
    background-color: #053758;
	transform: scale(1.1);
    border-radius: 50px;
}

.card02 {
    background-color: #ffca50;
    background-size: cover;
    padding: 3rem;
    max-width: 80ch;
    overflow: hidden;
    border-radius: 30px;

    transition: 0.3s ease-in-out;
}

.card02:hover{
    background-color: #684b07;
	transform: scale(1.1);
    border-radius: 50px;
}

.aplication-subtitle{
    font-size: 40px;
    margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	color: #ffffff;
}

.aplication-subtitle01{
    font-size: 25px;
	margin-bottom: 50px;
	font-weight: lighter;
	color: #ffffff;
}

.aplication-app{
    color: #ffffff;
}

.aplication-play{
    color: #ffffff;
}

.aplication-button{
    margin-bottom: 10px; 

	transition: 0.2s ease-in-out;
}

.aplication-button:hover {
    color: rgb(117, 117, 117);
	background-color: #575656;
	transform: scale(1.08);
    letter-spacing: 2px;
}