#aplication{
    position: relative;
    height: 500px;
    padding-top: 20px;

    background-color: white;
}

.aplication-title1{
	font-size: 40px;
	margin-bottom: 50px;
	font-weight: 800;
	color: #000000;
	letter-spacing: -0.3px;
}

.aplication-title1 h4{
    text-align: center;
}