#aplication{
    height: 640px;

    background: rgb(24, 23, 23);
}

@media (max-width: 992px) {
    #aplication {
        height: 640px;
    }
}

@media (max-width: 768px) {
    #aplication {
        height: 1050px;
    }
}

.shapedivider01{
    width: 100vw;
}

.aplication-title1{
	font-size: 40px;
    padding-top: 20px;
	margin-bottom: 50px;
	font-weight: 600;
	color: #ffffff;
	letter-spacing: -0.3px;
}

.aplication-title1 h4{
    text-align: center;
}

.aplication-cards {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 767px) {
    .aplication-cards {
        flex-direction: column;
        align-items: center;
    }
    .aplication-cards a {
        margin-top: 40px; 
    }
}

.card01 {
    background-color: #39a7f0;
    background-size: cover;
    padding: 3rem;
    max-width: 80ch;
    overflow: hidden;
    margin-bottom: 0px;
    border-radius: 30px;

    transition: 0.3s ease-in-out;
}

.card01:hover{
    background-color: #053758;
	transform: scale(1.1);
    border-radius: 50px;
}

.card02 {
    width: 326px;
    height: 326px;
    background-color: #ffca50;
    background-size: cover;
    padding: 3.5rem;
    padding-left: 70px;
    max-width: 80ch;
    overflow: hidden;
    border-radius: 30px;

    transition: 0.3s ease-in-out;
}

.card02:hover{
    background-color: #684b07;
	transform: scale(1.1);
    border-radius: 50px;
}