html,
body{
	overflow-x: hidden;
}

body {
	font-family: Arial, sans-serif;
}

#start-section {
	box-sizing: unset;
}

.navbar-collapse {
	display: none;
}

.navbar-collapse.show {
	display: block;
}

nav.navbar-transparente {
	padding: 15px 10px;
	background: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(0, 0, 0);

	transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #2942b1;
	transform: scale(1.1);
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.5);
}

.nav-item{
	padding-left: 25px;
	font-size: 18px;
	font-weight: bold;
}

.divisor {
	width: 1px;
	background: rgb(0, 0, 0);
	margin: 12px 30px;
}

