#services{
    background-color: white;

    box-sizing: unset;
}

.shapedivider03{
    width: 100vw;
    margin-top: -1px;
}

@media (max-width: 1200px){
    #services .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 90%;
        }
    }

/* @media (min-width: 992px){
    #services .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 70%;
        }
    } */

@media (max-width: 992px){
#services .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 90%;
    }
}

.background-services{
    padding: 10px;
    border-radius: 20px;

    border-top: 10px solid #16ade1
}

.services-background{
    border-radius: 35px;

    backdrop-filter: blur(10px); 
    border: none;
}

.text-attendance{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

@media (max-width: 992px){
    .text-attendance {
        font-size: 27px;
        }
    }

    @media (max-width: 576px){
        .text-attendance {
            font-size: 23px;
            }
        }


.text-dailyreport{
    font-size: 30px;
    font-weight: 600;
    text-align: right;
}

@media (max-width: 992px){
    .text-dailyreport {
        font-size: 27px;
        }
    }

    @media (max-width: 576px){
        .text-dailyreport {
            font-size: 23px;
            }
        }


.text-doctor{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

@media (max-width: 992px){
    .text-doctor {
        font-size: 27px;
        }
    }

    @media (max-width: 576px){
        .text-doctor {
            font-size: 23px;
            }
        }


.text-phonecall{
    font-size: 30px;
    font-weight: 600;
    text-align: right;
}

@media (max-width: 992px){
    .text-phonecall {
        font-size: 27px;
        }
    }

    @media (max-width: 576px){
        .text-phonecall {
            font-size: 23px;
            }
        }


    